{% extends 'base.html' %} {% load static %} {% block content %}
<img class="hero" src="{% static 'images\Hero Image.jpg' %}" alt="Hero Image">
<div
  class="card text-center position-absolute top-50 start-50 translate-middle">
  <div class="card-body">
    <h5 class="card-title">505</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Internal Server Error !</h6>
    <p class="card-text">
      The server encountered an error and could not complete the request.
    </p>
  </div>
</div>
{% endblock %}
