{% extends 'base.html' %} {% block content %}
<div class="container my-5">
  <div class="text-center mb-4">
    <h1>StrengthStack</h1>
    <p class="lead border-bottom">A fitness tracker built for growth.</p>
  </div>

  <div class="text-center mb-4">
    <div>
      <h2>Our Mission :</h2>
      <p>
        StrengthStack is designed to empower users to take control of their
        fitness journey. Whether you're lifting for strength, training for
        endurance, or just getting started, this app helps you log, track, and
        reflect on your progress over time.
      </p>
    </div>
    <div>
      <h2>Features :</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Log workouts and exercises</li>
        <li class="list-group-item">Track personal progress and goals</li>
        <li class="list-group-item">View workout history</li>
        <li class="list-group-item">User-friendly dashboard</li>
        <li class="list-group-item">Custom notes and exercise descriptions</li>
      </ul>
    </div>
  </div>

  <div class="text-center">
    <h2>Why StrengthStack ?</h2>
    <p>
      We believe fitness is a personal journey, and tracking your effort makes
      all the difference. StrengthStack makes progress measurable and motivation
      sustainable - because consistency builds strength.
    </p>
  </div>
</div>
{% endblock %}
