{% extends 'base.html' %} {% block content %}
<div class="container my-5">
  <div class="text-center mb-4">
    <h1>Dashboard</h1>
    <h2 class="lead">
      Welcome Back,
      <strong> {{ user.username }}! </strong>
    </h2>
  </div>
  <a href="{% url 'create' %}" class="btn btn-primary mb-4">
    <i class="fa-solid fa-plus"></i>
    Create New Workout
  </a>
  {% for workout in workouts %}
  <div class="card w-100 mb-3">
    <div class="card-body">
      <div class="d-flex mb-1">
        <h5 class="card-title">{{workout.title}}</h5>
        <a href="{%url 'update_workout' workout.id%}" class="btn btn-success ms-auto">
          <i class="fa-solid fa-pen"></i>
          Edit
        </a>
      </div>
      <p class="card-text description">
        <strong> Description | </strong>{{workout.description}}
      </p>
      <p class="card-text split">
        <strong> Training Split | </strong>{{workout.training_split}}
      </p>
      <p class="card-text created_on">
        <strong> Created On | </strong>{{workout.created_on}}
      </p>
      <p class="card-text created_on">
        <strong> Last Updated | </strong>{{workout.updated_on}}
      </p>
      <div class="d-flex">
        <a href="{% url 'view' workout.id %}" class="btn view-btn m-2">
          <i class="fa-solid fa-eye"></i>
          View Details
        </a>
        <form action="{% url 'delete' workout.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger m-2"
            onclick="return confirm('Are you sure You want to Delete This Workout?')">
            <i class="fa-solid fa-trash"></i> Delete
          </button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}