{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
  <div class="text-center mb-4">
    <h1>Dashboard</h1>
    <h2 class="lead">Welcome Back,
      <strong>
        {{ user.username }}!
      </strong>
    </h2>
  </div>
  {% for workout in workouts %}
  <div class="card w-100 mb-3">
    <div class="card-body">
      <h5 class="card-title">{{workout.title}}</h5>
      <p class="card-text description">
        <strong>
          Description |
        </strong>{{workout.description}}
      </p>
      <p class="card-text split">
        <strong>
          Training Split |
        </strong>{{workout.training_split}}
      </p>
      <p class="card-text created_on">
        <strong>
          Created On |
        </strong>{{workout.created_on}}
      </p>
<p class="card-text created_on">
        <strong>
          Last Updated |
        </strong>{{workout.updated_on}}
      </p>
      <a href="{% url 'view' %}" class="btn btn-primary">
        <i class="fa-solid fa-eye"></i>
        View Details
      </a>
      <a href="#" class="btn btn-primary">
        <i class="fa-solid fa-trash"></i>
        Delete
      </a>
    </div>
  </div>
  {% endfor %}
  <a href="#" class="btn btn-primary">
    <i class="fa-solid fa-plus"></i>
    Create New Workout
  </a>
  <h2 class="my-5">Progress Chart</h2>
  {% endblock %}