{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-row">
    <div class="d-flex p-2 flex-column ">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title text-center">User Profile</h4>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">User Information |</h5>
                <p><strong> Name | </strong>{{user.username}}</p>
                <p><strong> Age | </strong>{{ user_info.age }} Years</p>
                <p><strong> Gender | </strong>{{ user_info.gender }}</p>
                <p>
                    <strong> Current Weight (kg) | </strong>{{ user_info.current_weight }}
                </p>
                <p><strong> Goal Weight (kg) | </strong>{{ user_info.goal_weight }}</p>
            </div>
        </div>
    </div>

    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Bio | </h5>
            <p class="card-text">{{ user_info.bio }}</p>
        </div>
    </div>
</div>
{% endblock %}