{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <a href="{% url 'update_profile' %}" class="btn btn-success mb-3">
            <i class="fa-solid fa-pen"></i>
            Edit Profile
          </a>
          <h4 class="card-title text-center">User Profile</h4>
        </div>
        <div>
          {% if user_info.profile_image %}
          <img class="card-img" src="{{ user_info.profile_image.url }}" />
          {% else %}
          <img class="card-img" src="{%static 'images/Default Profile.png'%}" />
          {% endif %}
        </div>
      </div>
      <div class="card my-4">
        <div class="card-body">
          <h5 class="card-title">User Information</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Name : </strong>{{user.username}}
            </li>
            <li class="list-group-item">
              <strong> Age : </strong>{{ user_info.age }} Years
            </li>
            <li class="list-group-item">
              <strong>Gender : </strong>{{ user_info.gender }}
            </li>
            <li class="list-group-item">
              <strong>Current Weight (kg) : </strong
              >{{user_info.current_weight}}
            </li>
            <li class="list-group-item">
              <strong>Goal Weight (kg) : </strong>{{ user_info.goal_weight }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Bio</h5>
          <p class="card-text">{{ user_info.bio }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
