{% extends 'base.html' %} {% block content %}
<div class="container m-4">
  <a href="{% url 'dashboard' %}" class="btn btn-primary">
    <i class="fa-solid fa-angles-left"></i>
    Return to Dashboard
  </a>
</div>
<div class="mx-auto p-2 w-75">
  <h2>{{workout.title}}</h2>
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <strong> Description | </strong>
        {{workout.description}}
      </p>
      <p class="card-text">
        <strong> Duration| </strong>
        {{workout.workout_duration}} mins
      </p>
      <p class="card-text">
        <strong> Created On| </strong>
        {{workout.created_on}}
      </p>
      <p class="card-text">
        <strong> Last Updated| </strong>
        {{workout.updated_on}}
      </p>
    </div>
  </div>
  <h3 class="border-bottom my-4">Exercises</h3>
  {% if exercises %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Training Style</th>
        <th scope="col">Sets</th>
        <th scope="col">Reps</th>
        <th scope="col">Weight (kg)</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for exercise in exercises %}
      <tr>
        <td scope="col">{{forloop.counter}}</td>
        <td scope="col">{{exercise.name}}</td>
        <td scope="col">{{exercise.training_style}}</td>
        <td scope="col">{{exercise.sets}}</td>
        <td scope="col">{{exercise.reps}}</td>
        <td scope="col">{{exercise.weight}}</td>
        <td scope="col">
          <a href="{% url 'update_ex' exercise.id %}" class="btn btn-success">
            <i class="fa-solid fa-pen"></i>
            Update
          </a>
        </td>
        <td scope="col">
          <form action="{% url 'delete_ex' exercise.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"
              onclick="return confirm('Are you sure You want to Delete This Workout?')">
              <i class="fa-solid fa-trash"></i> Delete
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>
    No Exercises Added yet !<br />
    Add New Exercises Below.
  </p>
  {% endif %}
  <a href="{% url 'add_ex' workout.id %}" class="btn btn-primary mt-4">
    <i class="fa-solid fa-plus"></i>
    Add Exercise
  </a>
</div>
  {% endblock %}
